@{
    ViewData["Title"] = "Movie Submitted";
}

@model Mission4Assignment.Models.AppResponse

<div class="text-center">
    <h2>Thank you!</h2>
    <h3>You've just added @Model.Title to the Joel Hilton Film Collection!</h3>
</div>
